.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 12px;
    border-bottom: 1px solid rgb(92, 92, 92);
    padding-bottom: 12px;

    .text {

    }
}