.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: 16px;

    .section {
    }

    .nodesList {
        margin-top: 12px;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
}

.nodeItem {
    cursor: pointer;
    -webkit-user-select: none;  
    -ms-user-select: none;
    user-select: none; 
}